.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.Guesses {
  border: 0.5px solid white;
  width: 60%;
  height: 5vh;
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GuessContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

hr {
  width: 100vw;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  border-bottom: 1px solid white;
  height: 10vh;
}

.First-Header-Item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-end;
}

.Second-Header-Item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.Third-Header-Item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

.modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: #282c34;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContainer {
  width: 500px;
  height: 500px;
  border-radius: 12px;
  background-color: #282c34;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.modalContainer .title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}
.input {
  margin-top: 5vh;
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  margin-top: 5vh;
}

.SongOption {
  width: 36.5vw;
  border: 2px solid white;
}

.form-group {
  width: 30vw;
  height: 100%;
}
